absl-py==2.1.0
aclruntime==0.0.2
addict==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
ais-bench==0.0.2
ait==0.0.1
akg==2.1
albumentations==1.3.1
annotated-types==0.7.0
apex-0.1-ascend==20240308
appdirs==1.4.4
arrow==1.2.3
asgiref==3.8.1
astroid==2.11.7
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
auto-optimizer==0.1.0
auto-tune==0.1.0
binaryornot==0.4.4
blinker==1.7.0
blosc2==2.0.0
boto3==1.12.22
botocore==1.15.49
cachetools==5.3.3
certifi==2024.2.2
cffi==1.15.1.post20230728144220
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.7
click-aliases==1.0.4
cloudpickle==1.3.0
coloredlogs==15.0.1
compare==0.0.2
configparser==5.2.0
cookiecutter==2.6.0
coverage==6.4.3
cryptography==3.4.7
cycler==0.12.1
cython==3.0.2
dask==2.18.1
dataflow==0.0.1
debugpy==1.8.1
decorator==4.4.1
deepspeed==0.14.3
dill==0.3.8
django==4.2.11
docker-pycreds==0.4.0
docstring_parser==0.16
docutils==0.15.2
easydict==1.9
einops==0.6.0
entrypoints==0.4
ephemeral-port-reserve==1.1.4
esdk-obs-python==3.20.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.4
flask==3.0.3
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
gast==0.5.4
gitdb==4.0.11
gitpython==3.1.43
gnureadline==8.1.2
google-auth==2.29.0
google-auth-oauthlib==0.4.6
grpcio==1.58.0
grpcio-tools==1.58.0
gunicorn==21.2.0
h5py==3.9.0
hccl==0.1.0
hccl-parser==0.1
hjson==3.1.0
huggingface-hub==0.23.3
humanfriendly==10.0
idna==2.10
image==1.5.28
imageio==2.34.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
iniconfig==2.0.0
ipykernel==6.7.0
ipython==8.18.1
isort==5.13.2
itsdangerous==2.1.2
jdcal==1.4.1
jedi==0.19.1
jinja2==3.1.3
jmespath==0.10.0
joblib==1.4.0
jsonargparse==4.30.0
jupyter_client==7.4.9
jupyter_core==5.7.2
keras==2.3.1
keras-applications==1.0.8
keras-preprocessing==1.1.2
kfac==0.2.0
kiwisolver==1.4.5
lazy-import==0.2.2
lazy-object-proxy==1.10.0
lazy_loader==0.4
libcst==0.4.7
lightning==2.2.0.dev0
lightning-bolts==0.7.0
lightning-utilities==0.11.2
llvmlite==0.40.1
lmdb==1.4.0
lxml==4.9.3
ma-cli==1.2.3
ma-tensorboard==1.0.0
markdown==3.6
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.5.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mindspore-lite==2.2.12
mindx-elastic==0.0.1
mmcv==2.0.1
mmengine==0.10.3
mock==4.0.3
mpmath==1.3.0
msadvisor==1.0.0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.1
npu-bridge==1.15.0
npu-device==0.1
numba==0.57.1
numexpr==2.8.6
numpy==1.22.0
nvidia-ml-py==12.555.43
oauthlib==3.2.2
onnx==1.16.0
onnxconverter-common==1.13.0
onnxruntime==1.15.1
op-compile-tool==0.1.0
op-gen==0.1
op-test-frame==0.1
opc-tool==0.1.0
opencv-python==4.8.0.76
opencv-python-headless==4.9.0.80
openpyxl==3.0.3
packaging==24.0
pandas==1.3.5
parso==0.8.4
pathlib2==2.3.7.post1
pathtools==0.1.2
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.2.0
pluggy==1.4.0
prettytable==3.10.0
prometheus-client==0.8.0
prompt-toolkit==3.0.43
protobuf==3.20.2
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycocotools==2.0.7
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
pygments==2.17.2
pylint==2.14.5
pyparsing==3.1.2
pypng==0.20220715.0
pytest==7.2.2
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytorch-lightning==1.9.5
pytz==2024.1
pywavelets==1.4.1
pyyaml==6.0.1
pyzmq==25.1.2
qudida==0.0.4
regex==2024.5.15
requests==2.27.1
requests-futures==1.0.0
requests-oauthlib==2.0.0
requests-toolbelt==0.10.1
rich==13.7.1
rsa==4.9
s3transfer==0.3.7
safetensors==0.4.3
schedule-search==0.0.1
scikit-image==0.21.0
scikit-learn==1.0.2
scikit-video==1.1.11
scipy==1.10.1
semantic-version==2.10.0
sentry-sdk==2.5.1
setproctitle==1.3.3
simplejson==3.17.0
six==1.16.0
skl2onnx==1.15.0
smmap==5.0.1
sqlparse==0.4.4
stack-data==0.6.3
sympy==1.4
synr==0.5.0
tables==3.8.0
tabulate==0.9.0
tailor==0.3.2
te==0.4.0
tenacity==8.1.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-probability==0.10.1
termcolor==2.4.0
terminaltables==3.1.0
text-unidecode==1.3
threadpoolctl==3.4.0
tifffile==2024.2.12
timm==0.9.12
tokenizers==0.19.1
toml==0.10.1
tomli==2.0.1
tomlkit==0.12.4
torch==2.1.0
torch-npu-2.1.0.post2==20240308
torch-tb-profiler-ascend==0.4.0.7
torchmetrics==0.11.1
torchvision==0.16.0
tornado==6.4
tqdm==4.66.4
traitlets==5.14.2
transformers==4.41.2
typeshed_client==2.5.1
typing-inspect==0.9.0
typing_extensions==4.11.0
umap-learn-modified==0.3.8
urllib3==1.26.18
wandb==0.13.10
wcwidth==0.2.13
werkzeug==3.0.2
wrapt==1.16.0
xlrd==1.2.0
xmltodict==0.12.0
yapf==0.40.2
yarl==1.9.4
zipp==3.18.1
